.first-section {
  padding: 10rem 0;
}

.first-section p {
  padding: 50px;
  font-size: 32px;
  font-family: 'SemiBold';
  line-height: 40px;
  letter-spacing: 0.4px;
  color: var(--text-whity);
  width: 75%;
  margin: 0 auto;
  background-color: #000;
  border-bottom: 1px solid var(--text-gray);
  filter: opacity(0.85);
}

.pick-side {
  padding: 4rem 0;
}

.pick-side h2 {
  text-align: center;
  color: var(--text-whity);
  font-family: 'SemiBold';
  font-size: 32px;
  margin-bottom: 3.5rem;
}

.boxes {
  position: relative;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  height: 650px;
}

.text-box {
  position: absolute;
  width: 40%;
  max-width: 600px;
  top: 50%;
  left: 5%;
  /* left: 7%; tyle ma być po kliknięciu  */
  transform: translateY(-50%);
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 15px 8px 15px;
  border-bottom: 2px solid var(--main-blue);
  text-align: center;
}

.boxes h3 {
  font-family: 'SemiBold';
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.boxes p {
  color: var(--text-whity);
  font-size: 18px;
  line-height: 27.5px;
  font-family: 'Regular';
}

.left-box,
.mid-box,
.right-box {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 33%;
  transition: all 600ms;
  filter: grayscale(1) opacity(0.7);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 85% 100%, 0% 100%);
}

.left-box:hover,
.mid-box:hover,
.right-box:hover {
  filter: grayscale(0);
}

.left-box img,
.mid-box img,
.right-box img {
  filter: brightness(5);
  transition: all 600ms;
}

.left-box {
  left: 4.825%;
}

.mid-box {
  left: 33.3%;
}

.right-box {
  left: calc(66.6% - 4.825%);
}

.active-block {
  height: 94.5vh;
  width: 100%;
  z-index: 99;
  clip-path: none;
  left: 0;
  top: -143px;
}

.active-block {
  filter: grayscale(0);
}

.active-block img {
  object-fit: cover;
}

.join {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 120;
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid var(--main-blue);
  font-family: 'Bold';
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 18px;
  filter: opacity(0.85);
  cursor: pointer;
}
