.regulamin-wrap {
  padding: 4rem 0;
}

.regulamin-wrap h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Bold';
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--text-whity);
}

.regulamin {
  width: 70%;
  margin: 0 auto;
  padding: 4rem 0;
}

.regulamin p {
  font-size: 28px;
  line-height: 30.5px;
  color: var(--text-whity);
  letter-spacing: 0.2px;
  font-family: 'SemiBold';
  text-align: center;
}

@media screen and (max-width: 900px) {
  .regulamin-wrap h1 {
    font-size: 28px;
  }
}
