.header {
  height: 100vh;
  width: 100%;
}

.header h1 {
  position: absolute;
  left: 50%;
  top: 54px;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 20px;
  color: var(--text-gray);
  letter-spacing: 0.2px;
  user-select: none;
}

.middle-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  padding: 1.25rem 2.5rem 1rem 2.5rem;
  border-bottom: 1px solid var(--main-blue);
  background: rgba(0, 0, 0, 0.5);
}

.middle-box h2 {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--text-gray);
}

.link-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.link-box button {
  cursor: pointer;
  color: #adadad;
  display: grid;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--main-blue);
  padding: 0.5rem 1.25rem 0 1.25rem;
}

.link-box button > svg {
  margin: 3px 0 7px 0;
  justify-self: center;
  transition: all 400ms;
}

.link-box:hover button > svg {
  transform: translateY(3px);
}
