@import './css-reset.css';

:root {
  --main-blue: #00CBFF;
  --text-gray: #666666;
  --text-whity: #adadad;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.55);
  position: fixed;
  z-index: -1;
}